body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #222;
  background: #fcfcfc;
}

a {
  color: #59433B;
}

a:focus,
a:hover {
  color: #468C8C;
}


header {
  display: block;
  margin-top: 12px;
}

header h1 {
  font-family: 'Racing Sans One', cursive;
  font-size: 60px;
  margin: 0;
  display: inline;
  float: left;
}

header h1 a {
  color: #468C8C;
  text-shadow: 0px 1px 1px #c0c0c0;
}

header h1 a:focus,
header h1 a:hover {
  text-shadow: 0px 0px 2px #999;
}

header a {
  text-decoration: none;
}

header nav {
  margin: 0 auto;
  overflow: hidden;
  max-width: 965px;
}

header nav ul {
  padding-top: 25px;
  float: right;
}

header nav li {
  float: left;
  list-style: none;
  margin-left: 1.5em;
}

.main {
  background: #fff;
  margin: 18px auto 0 auto;
  max-width: 880px;
  padding: 0px 50px;

  border: 1px solid #f5f5f5;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(245, 245, 245, 1);
  box-shadow: inset 0px 0px 4px 1px rgba(245, 245, 245, 1);
}

.main h1 {
  padding-bottom: 6px;
  border-bottom: 1px solid #e0e0e0;
}

.main .content {
  margin-bottom: 70px;
}

.content p {
  line-height: 22px;
  margin: 18px 0;
}

.content pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 14px;

  padding: 8px 10px 10px 10px;
  margin-right: 5px;

  border: 3px solid #eee;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(210, 210, 210, 1);      
  box-shadow: inset 0px 0px 1px 1px rgba(210, 210, 210, 1);
}

footer {
  background: #e8e8e8;
  margin: 0 auto 65px auto;
  max-width: 880px;
  padding: 30px 50px;

  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  
  font-size: 13px;
}

footer .ringolinks {
  overflow: hidden;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;
}

footer h4 {
  margin: 0;
}

footer p {
  font-size: 10px;
  margin: 28px 0 0 0;
}