body, html {
    margin: 0;
    padding: 0;
    font-size: 0.94em;
}

body {
    font-family: 'Helvetica Neue',Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
}

body, p, li {
    line-height: 1.55em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #3366ff;
}

#wrap {
    margin: 0 auto;
    width: 750px;
}

div#main {
    clear: both;
    float: left;
    width: 530px;
    margin: 30px 10px;
    padding: 5px;
}

#logo {
    margin-top: 10px;
    margin-bottom: 6px;
    border: 0;
}

#menu {
    margin-top: 35px;
    float: right;
    width: 150px;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation ul li {
    list-style: none;
}
#menu ul li {
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: #003;
    text-shadow: #ccf 1px 1px 2px;
    background-color: #ddf;
    padding: 4px 6px;
    display: block;
}

.navigation a:hover {
    background-color: #88b;
}

.navigation a.highlight, a.highlight#hover {
    background-color: black;
    color: white;
}

#footer {
    margin-top: 3em;
    text-align: center;
    color: #666;
    font-size: 80%;
    clear:both;
}

p code {
    font-weight: bold;
}

pre.code, pre.sh_javascript {
    overflow: auto;
    background-color: #eef;
    border-width: 1px;
    border-color: #bcf;
    border-style: solid;
    padding: 0.5em;
}

a.toplink {
    background-color: #bbd;
    padding: 4px 10px;
    font-weight: bold;
    text-shadow: #ccf 1px 1px 2px;
    color: #003;
    text-decoration: none;
    margin-left: -4px;
    /* margin-left: -8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px; */
}

a.toplink:hover {
    background-color: #88b;
}

td {
    vertical-align: top;
    padding: 0 10px;
}

textarea {
    width: 90%;
    height: 30em;
}

input.title {
    width: 90%;
    font-size: 1.2em;
    font-weight: bold;
}

.large {
    font-size: 1.12em;
}

.invert {
    background: #ddf;
    padding: 0 3px;
}
