body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #222;
}

a {
  color: #2486CC;
  text-decoration: none;
}

a:visited {
  color: #684AA5;
}

a:focus,
a:hover {
  color: #115CAD;
  text-decoration: underline;
}

a img {
  border: 0;
}

header {
  display: block;
  padding-top: 12px;
  background: #c1ccd1;
  font-family: 'Source Sans Pro', sans-serif;

  border-bottom: 1px solid #bfbfbf;
}

header a {
  color: #222;
  text-decoration: none;
}

header nav a:visited,
header nav a:focus,
header nav a:hover {
  color: #222;
}

header nav {
  margin: 0 auto;
  max-width: 940px;
}

header nav ul {
  padding: 8px 0 1px 0;
  float: right;
}

header nav li {
  float: left;
  list-style: none;
  font-size: 19px;
  margin-left: 2em;
}

header h1 {
  margin: 3px 0 0 0;
  display: inline;
  float: left;
}

header h1 img {
  display: inline;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

.main {
  display: block;
  clear: both;
  overflow: hidden;
  background: #fff;
  margin: 9px auto 0 auto;
  max-width: 940px;
}

.main .submenu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 30%;
  padding-left: 8%;

  float: left;
  margin-top: 30px;
}

.submenu button {
  width: 100%;
}

.main .content {
  margin-bottom: 55px;
  width: 70%;
  float: left;
}

.content h1 {
  font-size: 30px;
  font-weight: 600;
}

/* If headline <h1> is missing on a content page */
.content > p:first-child {
  margin-top: 28px;
}

.content h2 {
  margin: 30px 0 -12px 0;
  font-size: 22px;
  font-weight: 600;
}

.content h3 {
  margin: 18px 0 -12px 0;
  font-size: 18px;
  font-weight: 600;
}

.content p {
  line-height: 24px;
  margin: 16px 0;
}

.content p code,
.content ul code {
  font-family: Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  margin: 0px 3px;
  padding: 0px 3px;
  white-space: nowrap;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.content pre {
  font-family: Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;

  padding: 8px 10px 10px 10px;
  margin-right: 5px;

  border-left: 3px solid #eee;

}

.content pre code {
  font-family: Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  line-height: 18px;
}

.content li {
  margin-bottom: 4px;
  line-height: 24px;
}

.content ul ul {
  padding-left: 35px;
}

footer {
  margin: 0 auto;
  padding: 30px 50px;

  border-top: 1px solid #ddd;
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(200, 245, 245, 1);
  box-shadow: inset 0px 0px 4px 1px rgba(230, 230, 230, 1);

  font-size: 13px;
}

footer nav {
  max-width: 940px;
  margin: 0 auto;
}

footer .ringolinks {
  overflow: hidden;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;
}

footer h4 {
  margin: 0;
}

footer p {
  font-size: 10px;
  margin: 28px 0 0 0;
}

@media screen and (max-width: 800px) {
  .main .content,
  .main .submenu {
    float: none;
    width: 100%;
    padding: 0 2%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .main .submenu {
    margin-bottom: 28px;
  }

  header {
    padding: 14px 2% 4px 2%;
  }

  header nav h1 ,
  header nav ul,
  header nav li {
    float: none;
    margin: 0;
  }

  header nav ul {
    padding-top: 6px;
  }

  header nav li {
    margin: 0 0 4px 20px;
    list-style: disc;
    font-size: 16px;
  }

  footer {
    padding: 10px 0;
  }

  footer ul {
    float: none;
    width: 96%;
    padding: 0 2%;
    margin-bottom: 10px;
  }
}
