<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title><% title | suffix " - " %>RingoJS</title>
<link rel="stylesheet" href="/static/main.css" />
<link rel="stylesheet" href="/static/sh_hns.min.css" />
<script type="text/javascript" src="/static/sh_main.min.js"></script>
<script type="text/javascript" src="/static/sh_javascript.min.js"></script>
<% render 'head' %>
</head>

<body onload="sh_highlightDocument()">
<a href="http://github.com/ringo/ringojs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/static/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>
<div id="wrap">
    <div id="header">
      <ul>
        <li><a id="wiki" class="toplink" href="/">Home</a></li>
        <li><a id="code" class="toplink" href="/wiki/">Wiki</a></li>
        <li><a id="docs" class="toplink" href="/documentation">Docs</a></li>
        <li><a id="demo" class="toplink" href="/demo/">Demo</a></li>
      </ul>
    </div>
    <div id="main">
        <% headline | wrap <h1> </h1> %>
        <% render content %>
    </div>
    <div id="menu">
        <a href="/"><img id="logo" src="/static/ringojs.png" alt="" /></a>
        <% render menu %>
    </div>
</div>
</body>
</html>

<% subskin 'content' %>
Overwrite this subskin to add content.

<% subskin 'menu' %>
<% navigation %>
