{
  "server": {
    "vhosts": ["127.0.0.1", "localhost"],
    "http": {
      "host": "127.0.0.1",
      "port": 8080
    }
  },
  "content": "../site",
  "templates": "../templates",
  "static": [
    {
      "path": "../static",
      "index": "index.html",
      "baseURI": "/static",
      "options": {
        "servePrecompressed": true,
        "maxAge": 0,
        "lastModified": true,
        "dotfiles": "ignore"
      }
    },
    {
      "path": "../releases",
      "index": "index.html",
      "baseURI": "/releases",
      "options": {
        "servePrecompressed": false,
        "maxAge": 0,
        "lastModified": true,
        "dotfiles": "ignore"
      }
    }
  ],
  "welcomePage": "index.md",
  "defaultContext": {
    "baseURI": "https://ringojs.org"
  }
}