.technologyList {
    list-style: none;
    margin: 2rem 0 0 0;
    padding: 0;
    cursor: pointer;
}

.technologyList li {
    width: calc(20% - 8px);
    margin-right: 8px;
    display: block;
    float: left;
    padding: 0.375rem 0.5rem 0.5rem 0.5rem;
    border-radius: 4px;
    font-family: "Bitter", serif;
    font-weight: 700;
    text-align: center;
    background-color: #30364D;
    color: #fcfcfc;
}

.technologyList li.selected,
.technologyList li:hover,
.technologyList li:focus {
    background-color: #7280A1;
    color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}

.technologyList li:last-child {
    border-right: none;
}

.technologyDetails {
    list-style: none;
    margin: 0.5rem 0 3.063rem 0;
    padding: 0;
}

.technologyDetails li {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: "Bitter", serif;
    font-style: italic;
    font-weight: 400;
}