body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #3c3c3c;
  background: #fcfcfc;
}

/* Screenreader Only */
.sr-only {
  position: absolute;
  top: -3000rem;
  left: -3000rem;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

a {
  color: #115CAD;
  text-decoration: none;
}

a:visited {
  color: #115CAD;
}

a:focus,
a:hover {
  color: #115CAD;
  text-decoration: underline;
}

a img {
  border: 0;
}

header {
  display: block;
  padding: 22px 0 14px 0;
  background: #c1ccd1;
  background: url('/static/photos/bkg_server.jpg') no-repeat;
  background-size: 100% auto;
  background-position: 0 -70px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(10,10,10,0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

header nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  z-index: 100;
}

header nav a:visited,
header nav a:focus,
header nav a:hover {
  color: #fff;
}

header nav {
  margin: 0 auto;
  max-width: 800px;
}

header nav ul {
  padding: 14px 0 1px 0;
  float: right;
}

header nav li {
  float: left;
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.313rem;
  margin-left: 1.625rem;
}

header h1 {
  margin: 3px 0 0 0;
  display: inline;
  float: left;
}

header h1 img {
  display: inline;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

.main {
  display: block;
  clear: both;
  margin: 9px auto 0 auto;
  max-width: 800px;
}

.main .submenu {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding-left: 8%;
  margin-top: 3rem;
}

.submenu button {
  width: 100%;
}

.submenu ol,
.submenu ul {
  margin: 0 0 0 1.125rem;
  padding: 0;
}

.submenu li {
  padding-left: 6px;
}

.main .content {
  margin-bottom: 55px;
  font-size: 1.063rem;
  line-height: 1.688rem;
  position: relative;
}

.main .content.withMenu {
  width: calc(70% - 5px);
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  color: #494d4f;
  font-family: "Bitter", serif;
  font-weight: 400;
}

.content h1 {
  font-size: 2.25rem;
  line-height: 1.25em;
  margin: 2.25rem 0 2.25rem 0;
}

/* If headline <h1> is missing on a content page */
.content > p:first-child {
  margin-top: 28px;
}

.content h2 {
  margin: 2.75rem 0 -0.25rem 0;
  font-size: 1.75rem;
}

.submenu h1,
.content h3 {
  margin: 1.75rem 0 -10px 0;
  font-size: 1.375rem;
}

.submenu h1 {
  margin: 0 0 0.5rem 0;
}

.content p {
  margin: 16px 0;
}

.content p code,
.content ul code {
  color: #733F12;
  font-family: "Fira Mono", Monaco, Consolas, "Liberation Mono", Courier, monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  display: inline;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.content pre {
  font-family: "Fira Mono", Monaco, Consolas, "Liberation Mono", Courier, monospace;
  font-size: 1rem;
  line-height: 1.5rem;

  padding: 4px 10px 4px 14px;
  margin: 1.5rem 0;

  border-left: 3px solid #eee;

}

.content pre code {
  font-family: "Fira Mono", Monaco, Consolas, "Liberation Mono", Courier, monospace;
}

.content li {
  margin-bottom: 4px;
  line-height: 24px;
}

.content ul ul {
  padding-left: 35px;
}

footer {
  margin: 0 auto;
  padding: 30px 50px;

  border-top: 1px solid #ddd;
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(200, 245, 245, 1);
  box-shadow: inset 0px 0px 4px 1px rgba(230, 230, 230, 1);

  font-size: 13px;
}

footer nav {
  max-width: 800px;
  margin: 0 auto;
}

footer .ringolinks {
  overflow: hidden;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;
}

footer h4 {
  margin: 0 0 2px 0;
  font-weight: 700;
  font-size: 0.875rem;
}

footer p {
  font-size: 10px;
  margin: 28px 0 0 0;
}

@media screen and (max-width: 800px) {
  .main .content,
  .main .submenu {
    float: none;
    width: 100%;
    padding: 0 2%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .main .submenu {
    margin-bottom: 28px;
  }

  header {
    padding: 14px 2% 4px 2%;
  }

  header nav h1 ,
  header nav ul,
  header nav li {
    float: none;
    margin: 0;
  }

  header nav ul {
    padding-top: 6px;
  }

  header nav li {
    margin: 0 0 4px 20px;
    list-style: disc;
    font-size: 16px;
  }

  footer {
    padding: 10px 0;
  }

  footer ul {
    float: none;
    width: 96%;
    padding: 0 2%;
    margin-bottom: 10px;
  }
}
