.mustknow, .knowmore {
   padding: 10px 10px 10px 115px;
   border: 1px solid #C1CCD1;
   border-radius: 3px 3px 3px 3px;
   box-shadow: 0 0 1px 1px #D2D2D2 outset;
}

.knowmore {
   min-height: 110px;
   padding-left: 110px;
   background-image: url('./black-rhino.svg');
   background-position: 10px center;
   background-size: 90px;
   background-repeat: no-repeat;
}

.mustknow {
   border-color: #d96262;
   padding-left:10px;
}
