.mustknow, .knowmore {
   margin: 25px 0;
   padding: 0 20px;
   border: 2px solid #C1CCD1;
   border-radius: 5px;
   box-shadow: 0 0 1px 1px #D2D2D2;
   background: #fff;
}

.knowmore {
   min-height: 145px;
   background-image: url('./ringo-mascot.svg');
   background-position: 15px 23px;
   background-size: 90px;
   background-repeat: no-repeat;
   padding-left: 125px;
}

.mustknow {
   border-color: #f2da79;
   background: #fff9f0;
}
